<nav>
    <div class="langBox scToggle toggleBox __style021 _h35" data-state="btn1">
        <div class="wrap">
            <button type="button" class="btn __style022" data-btn="btn1">한국어</button>
            <button type="button" class="btn __style022" data-btn="btn2">EN</button>
            <button type="button" class="btn __style022" data-btn="btn3">日本語</button>
            <button type="button" class="btn __style022" data-btn="btn4">中国人</button>
            <div class="bg"></div>
        </div>
    </div>
</nav>
