<div class="toast"></div>

<div class="popup">
   
    <!-- START :: Popup Content -->
    <div class="popupItem _ssmall __depth9" data-popup="tourCheckDown">
        <div class="titleBox">
            <h4>투어 미생성 안내</h4>
            <h6>선택한 투어가 적어요.<br/>
                2개 이상으로 투어를 완성해주세요!</h6>
        </div>
        <div class="btnBox">
            <a href="/active"  class="btn _w-35 _h35 __style021" onclick="popupHide('tourCheckDown')"><span>활동터 목록</span></a>
            <button type="button" class="btn _w35 _h35 __style025" onclick="popupHide('tourCheckDown')"><i class="icon __delete" ></i></button>
        </div>
    </div>



    <div class="popupItem _ssmall __depth9" data-popup="tourCheckEnogh">
        <div class="titleBox">
            <h4>투어 초과 안내</h4>
            <h6>선택한 투어가 너무 많아요.<br/>
                10개 이하로 투어를 완성해주세요!</h6>
        </div>
        <div class="btnBox">
            <button type="button" class="btn _w-35 _h35 __style021" onclick="popupHide('tourCheckEnogh')"><span>활동터 목록</span></button>
            <button type="button" class="btn _w35 _h35 __style025" onclick="popupHide('tourCheckEnogh')"><i class="icon __delete" ></i></button>
        </div>
    </div>



    



    <!-- END :: Popup Content -->

    <div class="dim"></div>
</div>